## 1. Importaion of the dataset about the avian diseases worldwide:

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
avian=pd.read_csv("avian_diseases.csv",  encoding='latin-1')

In [6]:
avian

,Year,Semester,World region,Country,Administrative Division,Disease,Serotype/Subtype/Genotype,Animal Category,Species,Outbreak_id,New outbreaks,Susceptible,Measuring units,Cases,Killed and disposed of,Slaughtered,Deaths,Vaccinated
0,2005,Jul-Dec 2005,Africa,Angola,Huila,Newcastle disease virus (Inf. with),NaN,Both animal categories,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,Jul-Dec 2005,Africa,Angola,Huila,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,NaN,NaN,210,Animal,93,0,0,93,0
2,2005,Jul-Dec 2005,Africa,Benin,Adjara,Newcastle disease virus (Inf. with),NaN,Both animal categories,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,Jul-Dec 2005,Africa,Benin,Adjara,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,NaN,NaN,"10,000",Animal,532,0,215,108,68
4,2005,Jul-Dec 2005,Africa,Benin,Adjohoun,Newcastle disease virus (Inf. with),NaN,Both animal categories,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43084,2023,Jul-Dec 2023,Europe,Poland,Dobrzyniewo Du?e,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,122327.0,1,81,Animal,81,72,NaN,9,NaN
43085,2023,Jul-Dec 2023,Europe,Poland,Turo?? Ko?cielna,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,121679.0,1,"43,410",Animal,"43,410","13,922",NaN,"29,488",NaN
43086,2023,Jul-Dec 2023,Europe,Poland,Turo?? Ko?cielna,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,122325.0,1,"28,500",Animal,"28,500","27,700",NaN,800,NaN
43087,2023,Jul-Dec 2023,Europe,Poland,Turo?? Ko?cielna,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,122326.0,1,"3,210",Animal,"3,210","3,050",NaN,160,NaN
43088,2023,Jul-Dec 2023,Europe,United Kingdom,Aberdeenshire,High pathogenicity avian influenza viruses (po...,H5N1,Domestic,Birds,121841.0,1,"32,000",Animal,"1,787","31,189",0,811,0

## Data exploration

In [6]:
avian.columns

Index(['Year', 'Semester', 'World region', 'Country',
       'Administrative Division', 'Disease', 'Serotype/Subtype/Genotype',
       'Animal Category', 'Species', 'Outbreak_id', 'New outbreaks',
       'Susceptible', 'Measuring units', 'Cases', 'Killed and disposed of',
       'Slaughtered', 'Deaths', 'Vaccinated'],
      dtype='object')

In [5]:
avian.head()

,Year,Semester,World region,Country,Administrative Division,Disease,Serotype/Subtype/Genotype,Animal Category,Species,Outbreak_id,New outbreaks,Susceptible,Measuring units,Cases,Killed and disposed of,Slaughtered,Deaths,Vaccinated
0,2005,Jul-Dec 2005,Africa,Angola,Huila,Newcastle disease virus (Inf. with),NaN,Both animal categories,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,Jul-Dec 2005,Africa,Angola,Huila,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,NaN,NaN,210,Animal,93,0,0,93,0
2,2005,Jul-Dec 2005,Africa,Benin,Adjara,Newcastle disease virus (Inf. with),NaN,Both animal categories,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,Jul-Dec 2005,Africa,Benin,Adjara,Newcastle disease virus (Inf. with),NaN,Domestic,Birds,NaN,NaN,"10,000",Animal,532,0,215,108,68
4,2005,Jul-Dec 2005,Africa,Benin,Adjohoun,Newcastle disease virus (Inf. with),NaN,Both animal categories,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
avian.describe()

               Year    Outbreak_id
count  43089.000000    4503.000000
mean    2014.494674  102913.849656
std        5.129286   12683.821199
min     2005.000000      16.000000
25%     2010.000000   98690.500000
50%     2015.000000  102590.000000
75%     2018.000000  110288.500000
max     2023.000000  122327.000000

In [7]:
avian.dtypes

Year                           int64
Semester                      object
World region                  object
Country                       object
Administrative Division       object
Disease                       object
Serotype/Subtype/Genotype     object
Animal Category               object
Species                       object
Outbreak_id                  float64
New outbreaks                 object
Susceptible                   object
Measuring units               object
Cases                         object
Killed and disposed of        object
Slaughtered                   object
Deaths                        object
Vaccinated                    object
dtype: object


### Conversion of data types:
New outbreaks , Susceptible,Cases,Killed and disposed of, Slaughtered ,Deaths, Vaccinated from object to integer

In [10]:
avian['Cases'] = pd.to_numeric(avian['Cases'], errors='coerce')

In [ ]:
# Convert the data type of the column to int
df['column_name'] = df['column_name'].astype(int)

In [ ]:
# If you want to replace any NaN (Not a Number) values resulting from non-numeric data with a specific value, you can do:
# df['column_name'] = df['column_name'].fillna(0).astype(int)

## 2. Cleaning the data:

### 2.1. Detect the columns with missing values:

In [9]:
avian.isnull().any()

Year                         False
Semester                     False
World region                 False
Country                      False
Administrative Division      False
Disease                      False
Serotype/Subtype/Genotype     True
Animal Category              False
Species                       True
Outbreak_id                   True
New outbreaks                 True
Susceptible                   True
Measuring units               True
Cases                         True
Killed and disposed of        True
Slaughtered                   True
Deaths                        True
Vaccinated                    True
dtype: bool

We have the following columns with missing values:  Serotype/Subtype/Genotype  , Species, Outbreak_id , New outbreaks, Susceptible , Measuring units, Cases, Killed and disposed of , Slaughtered ,Deaths, Vaccinated

### 2.2. Check if there is any misspelling values:

In [32]:
a=avian['World region'].unique()
b=avian['Country'].unique()
c=avian['Disease'].unique()
d=avian['Animal Category'].unique()
e=avian['Species'].unique()
print("\n\nWorld region values:\n\n", a,  "\n\n\nCountry names:\n\n",b, "\n\n\nDiseases names:\n\n",c, 
      "\n\n\nAnimal Category:\n\n",d, '\n\n\nSpecies:\n\n',e)

World region values:

 ['Africa' 'Americas' 'Asia' 'Europe' 'Oceania']


Country names:

 ['Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Eswatini' 'Ethiopia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Lesotho'
 'Madagascar' 'Malawi' 'Mozambique' 'Nigeria' 'South Africa' 'Tanzania'
 'Togo' 'Tunisia' 'Uganda' 'Zimbabwe' 'Barbados' 'Brazil' 'Chile'
 'Colombia' 'Cuba' 'Guatemala' 'Mexico' 'Uruguay' 'Venezuela'
 'Afghanistan' "China (People's Rep. of)" 'Chinese Taipei' 'Cyprus'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Israel' 'Japan' 'Kazakhstan'
 'Korea (Rep. of)' 'Kuwait' 'Malaysia' 'Mongolia' 'Myanmar' 'Nepal'
 'Palestine' 'Saudi Arabia' 'Sri Lanka' 'Thailand' 'T\x9frkiye' 'Vietnam'
 'Albania' 'Austria' 'Belarus' 'Belgium' 'Bulgaria' 'Croatia'
 'Czech Republic' 'Denmark' 'Finland' 'France' 'Germany' 'Greece'
 'Hungary' 'Italy' 'Norway' 'Poland' 'Portugal' 'Romania' 'Russia'
 'Serbia and Montenegro' 'Slovakia' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Ukraine' 'United Kingdom' 'Kenya' 'Namibia' 'Senegal'
 'Sudan' 'Bolivia' 'Cayman Islands' 'Martinique' 'Nicaragua' 'Bahrain'
 'Bhutan' 'Hong Kong' "Korea (Dem People's Rep. of)" 'Netherlands'
 "Cote D'Ivoire" 'Djibouti' 'Egypt' 'Eritrea' 'Mali' 'Mauritania' 'Niger'
 'Rwanda' 'Zambia' 'Belize' 'Costa Rica' 'Armenia' 'Azerbaijan' 'Cambodia'
 'Georgia' 'Jordan' 'Pakistan' 'Bosnia and Herzegovina' 'Luxembourg'
 'Laos' 'Singapore' 'Estonia' 'Latvia' 'Libya' 'Canada' 'Honduras'
 'United States of America' 'Bangladesh' 'Serbia' 'Congo (Rep. of the)'
 'Dominican (Rep.)' 'Ireland' 'Haiti' 'Peru' 'Argentina' 'Qatar' 'Yemen'
 'Central African (Rep.)' 'Chad' 'Gambia' 'New Zealand' 'Morocco'
 'Kyrgyzstan' 'Gabon' 'Ecuador' 'Congo (Dem. Rep. of the)' 'Sierra Leone'
 'Australia' 'Oman' 'Fiji' 'Sao Tome and Principe' 'French Polynesia'
 'Papua New Guinea' 'El Salvador' 'Algeria' 'Turkmenistan'
 'South Sudan (Rep. of)' 'St. Helena' 'Cabo verde' 'Paraguay' 'Lebanon'
 'Philippines' 'Montenegro' 'North Macedonia' 'Panama' 'Liechtenstein'
 'Lithuania' 'Moldova' 'Reunion']


Diseases names:

 ['Newcastle disease virus (Inf. with)'
 'Mycoplasma gallisepticumÃŠ(Avian mycoplasmosis) (Inf. with)'
 'Avian chlamydiosis'
 'High pathogenicity avian influenza viruses (poultry) (Inf. with)'
 'Avian infectious bronchitis' 'Avian infectious laryngotracheitis'
 'Avian tuberculosis (-2005)'
 'Mycoplasma synoviae (Avian mycoplasmosis) (Inf. with) (2006-)'
 'Low pathogenic avian influenza (poultry) (2006-2021)'
 'Low pathogenicity avian influenza viruses transmissible to humans (Inf. with) (2022-)']


Animal Category:

 ['Both animal categories' 'Domestic' 'Wild']


Species:

 [nan 'Birds' 'Wildlife (species unspecified)' 'Other species' 'Sheep'
 'Cattle' 'Bees' 'American Mink' 'Equidae' 'Northwestern Crow'
 'Black-headed Gull' 'Crested Goshawk' 'Crested Myna' 'Grey Heron'
 'House Crow' 'Little Egret' 'Oriental Magpie-Robin' 'Peregrin falcon'
 'Scaly-breasted Munia' 'Large-billed Crow' 'Cats'
 'Rock Pigeon (Rock Dove)' 'Passeridae (unidentified)'
 'Eurasian Collared-Dove' 'European Turtle-Dove' 'Burrowing parrot'
 'Columbidae (unidentified)' 'Great black-backed Gull'
 'Phaethontidae (unidentified)' 'Turquoise Parrot'
 'Psittacidae (unidentified)' 'Double-crested cormorant' 'Barn Swallow'
 'Common Grackle' 'Eurasian Hobby' 'Common Kestrel' 'Lesser kestrel'
 'Common pheasant' 'Anatidae (unidentified)' 'Common Coot' 'Grey Parrot'
 'Herring Gull' 'Mallard' 'Northern Gannet' 'Red-breasted Goose'
 'Senegal Parrot' 'Willow Ptarmigan' 'Indian Peafowl'
 'Yellow-crowned Parrot' 'Ibex' 'Budgerigar' 'Cockatiel' 'Common Myna'
 'Red-vented Bulbul' 'Zebra Dove' 'Yellow-legged Gull'
 'Phalacrocoracidae (unidentified)' 'Rock Partridge' 'Common magpie'
 'Charadriidae (unidentified)' 'Ciconiidae (unidentified)'
 "Steller's Sea Eagle" 'Common Wood-Pigeon' 'Black Kite'
 'Egyptian Vulture' 'Eurasian Griffon' 'Mourning Collared-Dove'
 'Northern Long-tailed Tit' 'Blue Tit' 'Yellowhammer' 'Ring-necked Dove'
 'Laughing Dove' 'Barn Owl (Common Barn-Owl)' 'Gyrfalcon'
 'Northern Pintail' 'Mandarin Duck' 'Gruidae (unidentified)'
 'Hooded crane' 'White-naped crane' 'Tundra Swan' 'Emerald Dove'
 'Red Jungle Fowl' 'Eurasian Wigeon' 'American wigeon' 'Evening Grosbeak'
 'Pine Grosbeak' 'Clay-colored thrush' 'Plain chachalaca' 'Gadwall'
 'Green-winged Teal' 'Bald Eagle' 'Great Horned owl' 'Canada Goose'
 'Ring-necked Duck' 'Snow Goose' "Cooper's Hawk" 'Northern Shoveler'
 'Wood Duck' 'Red-tailed Hawk' 'Snowy Owl' 'Tiger' 'Common Pochard'
 'Greater Scaup' 'Whooper Swan' 'Black-necked Grebe' 'Bar-headed Goose'
 'Light-vented bulbul' 'Black-crowned Night-Heron' 'Spur-winged Lapwing'
 'Dalmatian pelican' 'White Stork' 'Chaffinch' 'Toco Toucan' 'Rook'
 'Common Tern' 'Great Crested Grebe' 'Mute Swan' 'Wild turkey'
 'Great Black-headed Gull' 'Pale thrush' 'Great Egret'
 'Eurasian buzzard (common buzzard)' 'Western bronze-naped pigeon'
 'Great Cormorant' 'Black-winged Stilt' 'Common Moorhen'
 'Common ringed plover' 'Common Teal' 'Eurasian Spoonbill'
 'Ferruginous Pochard' 'Glossy Ibis' 'Green Sandpiper' 'Kentish plover'
 'Laridae (unidentified)' 'Little ringed plover' 'Little stint'
 'Marbled teal' 'Pied avocet' 'Ruddy Shelduck' 'Ruff' 'Wood Sandpiper'
 'Corvidae (unidentified)' 'Ardeidae (unidentified)' 'Bean Goose'
 'Greater Flamingo' 'Little Grebe' 'Phoenicopteridae (unidentified)'
 'Tufted Duck' 'Greylag Goose' 'Western Cattle Egret' 'Armenian Gull'
 'Pygmy cormorant' 'Common Crane' 'Black Swan' 'Cackling Goose'
 'Northern Goshawk' 'Strigidae (unidentified)'
 'Greater White-fronted Goose' 'Eurasian Curlew'
 'Numididae (unidentified)' 'Common Raven' 'Mew Gull' 'White-tailed Eagle'
 'Common Eider' 'Eurasian Eagle-Owl' 'Rallidae (unidentified)'
 'Pelecanidae (unidentified)' 'Dromaiidae (unidentified)'
 'Phasianidae (unidentified)' 'Struthionidae (unidentified)'
 'Falconidae (unidentified)' 'Hooded Crow' 'Dogs' 'Common Shelduck'
 'Lesser Black-backed Gull' 'Accipitridae (unidentified)'
 'Eurasian Sparrowhawk' 'Common Goldeneye' 'Red-crested Pochard'
 'Muscovy Duck' 'Great tit' 'Common Starling' 'Northern Cardinal'
 'Fringillidae (unidentified)' 'Crimson Rosella' 'Carrion Crow'
 'Great grey owl' 'Diamond Dove' 'Emu' 'Long-eared Owl' "Bonelli's Eagle"
 'African Olive-pigeon' 'Blue Ground-Dove' 'Blue-grey Tanager'
 'Crested Quail-dove' 'Eurasian Hoopoe' 'Grey-hooded parakeet'
 'Lemon Dove' 'Pearly Parakeet' 'Pink-headed Imperial-pigeon'
 'Silver-beaked Tanager' 'Spotted Dove' 'Spotted wood owl' 'Sun parakeet'
 'White-crowned pigeon' 'Eurasian Jackdaw' 'Picidae (unidentified)'
 'Masked lapwing' "Sclater's Crowned Pigeon" 'Spotted dove'
 'Tambourine dove' 'Victoria Crowned-Pigeon' 'European Goldfinch'
 'Tawny owl' 'Turdidae (unidentified)' 'Sheep/goats (mixed herd)' 'Swine'
 'Crested Pigeon' 'Luzon Hornbill' 'Madagascar Turtle-dove'
 'White Imperial-pigeon' 'Eurasian Woodcock' 'Eurasian Blackbird'
 'Island Canary' 'Eurasian scops owl' 'Little Owl' 'House Sparrow'
 'Willow tit' 'Afep Pigeon' 'Coliidae (unidentified)'
 'Rheidae (unidentified)' 'European Serin']